/* This needs to be inserted to make everything stick 100% to top and bottom */
/* Without it, the header and footer will float to left/right */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background-color: rgb(120, 129, 219);
    color: #fff;
    padding: 50px;
}

.footer {
    text-align: center;
    background-color: rgb(120, 129, 219);
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.grandparent {
    background-color: green;
    color: #fff;
    padding: 20px;
    position:absolute;
    width:100%;
}

.btn1, .btn2, .btn3 {
    border: 1px solid gainsboro;
    background-color:whitesmoke;
    border-radius: 5px;
    padding: 5px 10px;
    outline:none;
}
button {
    border: 1px solid gainsboro;
    background-color:whitesmoke;
    border-radius: 5px;
    padding: 5px 10px;
    outline:none;
}

button:hover {
    border-color: black;
}


.btn1:hover {
    border-color: black;
}

.btn2:hover {
    border-color: black;
}

.btn3:hover {
    border-color: black;
}

.control {
    width: 100%;
    text-align: center;
    margin: 0px auto;
}

#time {
    padding-top:20px;
}

.instructions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:20px;
}